<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<system.web>
		<authorization>
			<deny users="?" />
		</authorization>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			</assemblies>
			<buildProviders>
				<add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
			</buildProviders>
		</compilation>
		<authentication mode="Forms">
			<forms loginUrl="MiLogin.aspx">
				<credentials passwordFormat="MD5">
					<user name="profe" password="1145CBF42070C6704B66D6AC75347726" />
				</credentials>
			</forms>
		</authentication>
	</system.web>
	<connectionStrings>
    <add name="DB_PAAC4G3ContrerasMontesinos" connectionString="metadata=res://*/DB_PAAC4G3ContrerasMontesinos.csdl|res://*/DB_PAAC4G3ContrerasMontesinos.ssdl|res://*/DB_PAAC4G3ContrerasMontesinos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ti-ocontreras;initial catalog=DB_PAAC4G3ContrerasMontesinos;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
	<!--<system.webServer>
		<directoryBrowse enabled="true" />
	</system.webServer>-->
	

</configuration>
